/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/



/* tabs */
.saas-tab.nav-pills .nav-link {
	margin-bottom: 10px;
	border-radius: 4px;
}

.saas-tab.nav-pills .nav-link.active {
	background-color: rgba(var(--cnvs-themecolor-rgb), .05);
	margin-bottom: 20px;
	padding: 25px;
}

.saas-tab.nav-pills .nav-link p {
	display: none;
	visibility: hidden;
	margin-bottom: 0;
	color: #333;
}

.saas-tab.nav-pills .nav-link.active p {
	display: block;
	visibility: visible;
}

.pricing-title {
	transform: translateY(-50%);
	margin: 0 auto;
	display: inline-block;
	width: auto;
	padding: 0 16px;
}

.btn-action {
	transform: translateY(50%);
}


.promo-card-fixed {
	position: fixed;
	bottom: 10px;
	top: auto;
	left: 0;
	right: 0;
	z-index: 1000;
}

.promo-card-fixed .alert {
	box-shadow: 0 20px 32px -8px rgb(3 10 28 / 20%);
	background-image: url(images/promo.svg),
		url(images/promo-bg.svg);
	background-size: auto 94%,
	cover;
	background-repeat: no-repeat, no-repeat;
	background-position: 30px center,
		center center;
	padding: 18px 24px;
}

@media (max-width: 767.98px) {
	.saas-tab.nav-pills .nav-link p {
		display: block;
		visibility: visible;
	}

	.saas-tab.nav-pills .nav-link,
	.saas-tab.nav-pills .nav-link.active {
		padding: 20px;
		margin-bottom: 8px;
	}
}

@media (min-width: 992px) {

	#header {
		--cnvs-primary-menu-color: var(--cnvs-contrast-900);
	}

	.menu-item-more > .menu-link > div i:nth-child(1) {
		display: inline-block;
		background-color: rgba(255,255,255,0.15);
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 50%;
		text-align: center;
	}

	.sub-menu-container {
		border-radius: 10px;
		border:	0;
	}

	.rotated-text {
		transform: rotate(-15deg);
	}
}
